/* Page Styles
   =================================== */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
 height: 100%;
}

body {
	/*font: normal 1.1em/1.5 sans-serif;*/
	color: #222;
	background-color: #edeff0;
}

/* Float Clearfix
   =================================== */
.group::after {
	content: " ";
	display: table;
	clear: both;
}

/* Other page elements */

.page_title {
	padding-top: 50px;
}

#graph_container_top{
	background-color: white;
	height: 45%;
}

#graph_container_bottom{
	background-color: white;
	height: 45%;
}

#dashbord-control-1{
	height: 5%;
}
#dashbord-control-2{
	height: 5%;
}

.state-graph{
	width: 20%;
	height: 100%;
	float: left;
}

.us-state{
	cursor: pointer;
}

.us-state.selected{
	background-color: #337ab7;
	text-align: center; 
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

.event-item{
	cursor: pointer;
}

.event-item:hover{
	background-color: #31a354;
	color: white;
}

.event-item.selected{
	background-color: #337ab7;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

/* Columns
   =================================== */
.col-1{
	padding: 20px; 
	float: left;
}

.col-2{
	float: left;
}

.col-3 {
	float: right;
}

.col-3{
	background-color: black;
	padding: 20px;
}

@media only screen and (min-width: 768px) {
	.col-1 { 
		width: 15%; 
		font-size: 12px;
	}
	.col-2 { width: 30%; }
	.col-3 { width: 53%; }
}

@media only screen and (min-width: 8000px) {
	.map{
		width: 100%;
		height: 700px;
		background-color: grey;
	}
	.page_title{
		font-size: 55px;
	}
	.menu_label{
		font-size: 40px;
	}
	.btn-lg{
		font-size: 50px;
	}
	.events-title{
		font-size: 50px !important;
		font-weight: bold !important;
	}
	.event-item{
		font-size: 30px;
	}
	.event-year{
		font-size: 30px;
	}

	.col-1 { 
		width: 10%; 
	}
	.col-2 { width: 20%; }
	.col-3 { 
		width: 69%; 
		height: 1800px;
	}


	#states{
		padding: 50px;
		font-size: 38px;
	}
	#dashbord-control{
		font-size: 50px;
	}
}